  <div class="container">
    <div id="user-nav-bar">
      <h2>
        Active Users:
      </h2>
      <div id="user-list" *ngFor="let user of activeUsers">
        <p>
          <a href="">{{user.user}}</a>
        </p>
      </div>
    </div>
    <div id="latest-messages">
      <h2>
        Latest Messages
      </h2>
      <div id="message-details" *ngFor="let message of messages">
        <p>
        <strong>{{userName}}</strong> - {{messageDate | date: "dd MMMM yyyy @ HH:mm"}}
        </p>
          <textarea>
            {{messages}}
          </textarea>
      </div>
    </div>
  </div>
